<h1>Welcome to our application!!</h1>

<script src="http://ddata.over-blog.com/xxxyyy/0/06/31/40/scripts/flocons/coeurs.js"></script></div>

<a href="/signin">Sign In</a><br />

<a href="/signup">Sign Up</a>