<h1>Welcome to our application!!</h1>

<script src="http://ddata.over-blog.com/xxxyyy/0/06/31/40/scripts/flocons/coeurs.js"></script>

<a href="/login">Sign In</a><br />

<a href="/signup">Sign Up</a><br />

<a href='/modification'>Check your metrics here !</a>

<button class="btn btn-danger" href="/logout" onClick='document.location.href="/logout"'>
    Logout
  </button>