<h1>Sign In </h1>
<div id="redirect"></div>
<script> 
const urlParams = new URLSearchParams(window.location.search);
</script>
<form action="/login" method="POST">

    <div>
        <label for="text">Username</label>
        <input type="text" id="username" name="username" required>
    </div>

    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Sign In</button>


</form>

<a href ="/signup">don't have an account yet?</a>