<!doctype html>
<html>
   
<head>
   
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="modification.css">
    <title>modification of metrics </title>
</head>


<body>
    <h1>your metrics</h1>
    <ul id="langages">
    </ul>

    <script src="../src/request.ts"></script>
</body>

<p>
    
    <table>
        <caption>Metrics</caption>
            <tr>
                <td>nom</td>
                <td>email</td>
                <td>password</td>
            </tr>
            <tr>
                <td>pierre22</td>
                <td>lelievre@gmail.com</td>
                <td>fdp</td>
            </tr>

    </table>
</p>

</html>