<!doctype html>
<html>
   
<head>
   
    <meta charset="utf-8">
    <title>Modification of metrics </title>
</head>


<body>
    <h1>your metrics</h1>
    <ul id="langages">
    </ul>

    
</body>

<p>
    <div>e<%=result%>e</div>
    <table id='table_metrics'>
        <caption>Metrics</caption>
            <tr>
                <td>Timestamp</td>
                <td>Value</td>
            </tr>
            <tr>

            </tr>

    </table>
</p>

</html>