<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>modification of metrics </title>
</head>

<body>
    <h1>your metrics</h1>
    <ul id="langages">
    </ul>

    <script src="../src/request.ts"></script>
</body>

</html>