<h1>Sign In </h1>
<div id="redirect"></div>
<script> 
const urlParams = new URLSearchParams(window.location.search);
const myParam = urlParams.get('redirect');
if (myParam == 'True')
{
    document.getElementById('redirect').innerHTML = "<h2>Account created. You can now log in !</h2>"
}

</script>
<form action="/login" method="POST">

    <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
    </div>

    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
    </div>

    <button type="submit">Sign In</button>


</form>

<a href ="/signup">don't have an account yet?</a>